html {
  background: url("./backgrounds/dlbg.jpg");
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black
}

.blackbox {
  display: block;
  z-index: -1;
  height: 47px;
  top: 0px;
  left: 0px;
  right: 0px;
  position: fixed;
  background-color: white;
}

.parent {
  width: 100%;
  min-width: fit-content;
  font-family: 'Noto Sans', sans-serif;
}

.navbar {
  display: inline-flex;
  background-color: transparent;
  width: 100%;
  align-items: center;
  height: 40px;
}

.linkbox {
  user-select: none;
  position: relative;
  width: 20%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  transition: all 100ms ease-in;
}

.linkbox:hover, .linkbox:focus {
  background-color: #a2faa2;
}

.linkbox:active {
  background-color:#76db76;
}

.innerlink {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}