ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

.inputbucket {
    padding-bottom: 4px;
    overflow: visible;
}

.formfill {
    font-size: medium;
    display: flex;
    margin: 4px;
    flex-direction: column;
    text-align: left;
    align-content: flex-start;
    overflow: visible;
}

.form-element {
    display: inline-flex;
    max-height: 21px;
    flex-direction: row;
}

.form-element label {
    user-select: none;
    width: 95%;
    justify-self: left;
}

.form-element input {
    width: 5%;
    justify-self: right;
}

.oddones {
    display: flex;
    flex-direction: column;
}

.submit_button {
    position: absolute; 
    overflow: hidden;
    left: -999px;
    clip-path: rect(0 0 0 0); 
    height: 1px; width: 1px; 
    margin: -1px; padding: 0; border: 0;
}

.for_submission {
    user-select: none;
    font-weight: 400;
    margin-bottom: 3px;
    display: inline-flex;
    align-items: center;
    font-size: medium;
    margin-left: 4px;
    margin-right: 4px;
    justify-content: center;
    border-radius: 10px;
    transition: all 100ms ease-in
}

.bluec {
    background-color: #a2cafa;
}

.bluec:hover, .submit_button:focus + .bluec{
    background-color: #76a4db;
}

.greenc {
    background-color: #a2faa2;
}

.greenc:hover, .submit_button:focus + .greenc {
    background-color: #76db76;
}

.redc {
    background-color: #faa5a5;
}

.redc:hover, .submit_button:focus + .redc {
 background-color: #db7676;
}

.yellowc {
    background-color: #faeba2;
}

.yellowc:hover, .submit_button:focus + .yellowc {
    background-color: #dbca76;
}

.for_submission:active {
    background-color: gray;
}

.submit_button:disabled+.for_submission {
    background-color: lightgray;
}

.disp_advanced {
    position: absolute; 
    left: -999px;
    overflow: hidden; 
    clip-path: rect(0 0 0 0); 
    height: 1px; width: 1px; 
    margin: -1px; padding: 0; border: 0;
}

.for_advanced {
    user-select: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: medium;
    margin-left: 4px;
    margin-right: 4px;
    width: 100%;
    border-radius: 4px;
}

.for_advanced::after {
    content: '';
    display: inline-block;
    position: relative;
    bottom: 0px;
    right: -7px;
    width: 7px;
    height: 7px;
    transition: all 200ms ease-in-out;
    transform: rotate(45deg);
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
}
.for_advanced::before {
    content: '';
    display: inline-block;
    position: relative;
    bottom: 0px;
    right: 7px;
    width: 7px;
    height: 7px;
    transition: all 200ms ease-in-out;
    transform: rotate(-45deg);
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

.for_advanced:hover::after {
    transform: rotate(-45deg);
    bottom: 2px;
}

.for_advanced:hover::before{
    transform: rotate(45deg);
    bottom: 2px;
}

.advdropdown {
    display: flex;
    position: relative;
    padding-left: 4px;
    padding-right: 4px;
    flex-direction: column;
    max-height: 0px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: beige;
    font-size: medium;
    text-align: left;
    z-index: 3;
    overflow: hidden;
    transition: max-height 300ms ease-in-out;
}

.disp_advanced:checked + .advdropdown {
    max-height: 600px;
}

input[type=number] {
    width: 60px;
}

/* input[type=number], input[type=select], input[type=button] {
    height: 15px;
} */

.dragonphoto {
    position: absolute;
    top: 2px;
    left: 5px;
    z-index: 1;
    height: 64px;
    width: 64px;
}