/**
 * Main wrapper
 */
 .select-search {
    width: inherit;
    position: relative;
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
}

.select-search *,
.select-search *::after,
.select-search *::before {
    box-sizing: inherit;
}

/**
 * Value wrapper
 */
.select-search__value {
    position: relative;
    z-index: 0;
}

.select-search__value::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: calc(50% - 9px);
    right: 19px;
    width: 11px;
    height: 11px;
}

/**
 * Input
 */
.select-search__input { /* the initial input box */
    display: block;
    height: 70px;
    min-width: 330px;
    width: 100%;
    padding: 0 16px;
    background: #fff;
    border: 1px solid transparent;
    box-shadow: 0 .0625rem .125rem rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    outline: none;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    text-indent: 65px;
    text-align: left;
    text-overflow: ellipsis;
    line-height: 36px;
    -webkit-appearance: none;
}

.select-search__input::-webkit-search-decoration,
.select-search__input::-webkit-search-cancel-button,
.select-search__input::-webkit-search-results-button,
.select-search__input::-webkit-search-results-decoration {
    -webkit-appearance:none;
}

.select-search__input:not([readonly]):focus {
    cursor: initial;
}

/**
 * Options wrapper
 */
.select-search__select { /* background of the selection box */
    background: #fff;
    box-shadow: 0 .0625rem .125rem rgba(0, 0, 0, 0.15);
    z-index: 3;
}

/**
 * Options
 */
.select-search__options {
    list-style: none;
}

/**
 * lines between each row of selection
 */
.select-search__row:not(:first-child) {
    border-top: 1px solid #eee;
}

/**
 * Option
 */
.select-search__option,
.select-search__not-found {
    display: block;
    height: 70px;
    width: 100%;
    padding: 0 16px;
    background: #fff;
    border: none;
    outline: none;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    text-align: left;
    cursor: pointer;
    transition: 100ms ease-in;
}

.select-search--multiple .select-search__option {
    height: 48px;
}

.blue .select-search__option.is-selected {
    background: #76a4db; /* highlight color when selected */
    color: #000;
}

.blue .select-search__option.is-highlighted,
.blue .select-search__option:not(.is-selected):hover {
    background: #a2cafa;
}

.blue .select-search__option.is-highlighted.is-selected,
.blue .select-search__option.is-selected:hover {
    background: #a2cafa;
    color: #000;
}

.green .select-search__option.is-selected {
    background: #76db76; /* highlight color when selected */
    color: #000;
}

.green .select-search__option.is-highlighted,
.green .select-search__option:not(.is-selected):hover {
    background: #a2faa2;
}

.green .select-search__option.is-highlighted.is-selected,
.green .select-search__option.is-selected:hover {
    background: #a2faa2;
    color: #000;
}

.red .select-search__option.is-selected {
    background: #db7676; /* highlight color when selected */
    color: #000;
}

.red .select-search__option.is-highlighted,
.red .select-search__option:not(.is-selected):hover {
    background: #faa5a5;
}

.red .select-search__option.is-highlighted.is-selected,
.red .select-search__option.is-selected:hover {
    background: #faa5a5;
    color: #000;
}

.yellow .select-search__option.is-selected {
    background: #dbca76; /* highlight color when selected */
    color: #000;
}

.yellow .select-search__option.is-highlighted,
.yellow .select-search__option:not(.is-selected):hover {
    background: #faeba2;
}

.yellow .select-search__option.is-highlighted.is-selected,
.yellow .select-search__option.is-selected:hover {
    background: #faeba2;
    color: #000;
}

/**
 * Modifiers
 */

.select-search:not(.is-loading):not(.select-search--multiple) .select-search__value::after {
    transform: rotate(45deg);
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    pointer-events: none;
}

.select-search--multiple .select-search__input {
    cursor: initial;
}

.select-search--multiple .select-search__input {
    border-radius: 3px 3px 0 0;
}

.select-search--multiple:not(.select-search--search) .select-search__input {
    cursor: default;
}

.blue .select-search:not(.select-search--multiple) .select-search__input:hover {
    border-color:#a2cafa;
}

.green .select-search:not(.select-search--multiple) .select-search__input:hover {
    border-color:#a2faa2;
}

.red .select-search:not(.select-search--multiple) .select-search__input:hover {
    border-color:#faa5a5;
}

.yellow .select-search:not(.select-search--multiple) .select-search__input:hover {
    border-color:#faeba2;
}


.select-search:not(.select-search--multiple) .select-search__select {
    position: absolute;
    z-index: 2;
    top: 70px;
    right: 0;
    left: 0;
    border-radius: 3px;
    overflow: auto;
    max-height: 200px;
}

.select-search--multiple .select-search__select {
    position: relative;
    overflow: auto;
    max-height: 260px;
    border-top: 1px solid #eee;
    border-radius: 0 0 3px 3px;
}

.select-search__not-found {
    height: auto;
    padding: 16px;
    text-align: center;
    color: #888;
}
