.inputtable {
    table-layout: fixed;
    border-collapse: collapse;
    font-size: large;
    width: max-content;
    min-width: 150px;
    overflow-y: scroll;
}

.tablebody {
    font-size: medium;
}

.leftrow {
    width: 90%;
    text-align: left;
}

.rightrow {
    width: 10%;
    text-align: right;
}